.cardContainer {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
.cardContainer:hover {
    background-color: rosybrown;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.loading {
    margin: auto;
    color: slategray;
    font-weight: bolder;
    font-size: larger;
}