@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

$main-bg-color: #8e9eab;
$gradient-bg-color: #eef2f3;
$header-font-color: rgb(0, 187, 229);
$card-bg-color: rgba(0, 0, 0, 0.75);
$card-font-color: #fff;
$font-family: "Raleway", sans-serif;
$select-bg-color: rgba(0, 0, 0, 0.75);
$border-color: rgba(0, 187, 229, 0.46);
